.nav-menu {
    list-style: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.menu-tem-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.7px;
    line-height: 18px;
    color:#FF0000;
    text-transform: uppercase;
    text-decoration: none;    
}
.nav-menu-item {
    display: inline-block;
    padding-top: 25.5px;
    padding-right: 36px;
    padding-bottom: 25.5px;
    padding-left: 36px;
}
.photosection {
    margin-bottom: 48px;
}
.content {
    text-align: center;
}
.content-header {
    margin-bottom: 38px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.content-text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
}
.content-text2 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 66px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.start-button {
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    border-width: 0px;
    margin-bottom: 42px;
}
.page-footer {
    text-align: right;
}
.footer-text {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    padding-top: 40px;
    padding-bottom: 29px;
}